//IMPORTANDO FONTES
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


//CONFIGURAÇÕES GERAIS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    a{
        text-decoration: none;
    }
}

//Menu fixo

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #101010;
    height: 90px;
    width: 100%;
    z-index: 2;
    position: fixed;
    //IMG escudo
    #Escudo{
        width: 51px;
        height: 56px;
        margin-right: 70px;
        margin-left: 30px;
    }

    //Icones de linguagens
    .linguagens{
        margin-bottom: 10px;
        margin-right: 70px;
        display: flex;
        flex-direction: row;
        img{
            width: 20px;
            height: 15px;
            margin-left: 10px;
        }
        img:first-child{
            margin-left: 0;
        }
    }
    
    //Itens do menu
    .menuItens{
        display: flex;
        flex-direction: row;
        background-image: url('../../Medias/Santos/fundo-menu.png');
        background-size: cover;
        height: 90px;
        width: 80%;
        ul{
            display: flex;
            flex-direction: row;
            margin-left: 10%;
            margin-right: 10%;
            li{
                display: flex;
                list-style: none;
                padding: 34px 0px;
                font-size: 90%;
                font-weight: 900;
                margin-left: 5vw;
                a{
                    color: black;
                    letter-spacing: 4px;
                }
            }

            li:first-child{
                margin-left: 0;
            }
        }
    }

    //Imagem Santos do mundo
    #santosDoMundo{
        width: 4%;
        margin-left: 3%;
        margin-right: 3%;
    }


    //Botão Mobile
    #btnMobile{
        display: none;
    }
}

//Header 

header{
    padding-top: 90px;
    background-image: url('../../Medias/Santos/fundo-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.815);
        width: 100px;
        padding-bottom: 55px;
        a{
            margin-top: 25px;
            margin-bottom: 10px;
        }

        a:hover{
            transition: 0.4s;
            transform: scale(1.1);
        }
    }
}

//Carrossel de noticias

#news{
    background-color: black;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        padding-bottom: 50px;
        button {
            width: 200px;
            height: 50px;
            background-color: #dda84c;
            color: #101010;
            font-weight: 600;
            font-size: 15px;
            border-radius: 25px;
        }

        button:hover{
            background-color: #c49544;
            transition: 0.2s;
        }
    }

}
#carrossel-noticias {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    max-width: 100%;

    button{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 3%;
        bottom: -35%;
        border-radius: 50%;
        border: none;
        color: white;
        background-color: #dda84c;
    }
    button:last-child{
        left: 95%;
    }

    .noticia {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        max-width: 295px;
        padding-top: 10px;
        padding-bottom: 50px;
        margin-left: 35px;
        transition: 0.6s;
        img{
            width: 293px;
            height: 377px;
            object-fit: cover;
            border: 1px solid #dda84c;
            border-radius: 8%;
        }
        h3{
            font-size: 16px;
            color: white;
            text-align: center;
        }
    }

}

//Proximos jogos

#next-games{
    max-width: 100%;
    background-image: url('../../Medias/Santos/fundo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.1px solid transparent;
    
}
.sessao1{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 30px;
    h2{
        font-size: 60px;
        width: 300px;
        color: white;
        font-weight: 900;
        line-height: 45px;
        padding-left: 30px;
        padding-top: 20px;
        margin-right: 40px;
    }
    .jogo{
        margin-left: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 333px;
        height: 550px;
        #paulistao{
            padding-top: 20%;
            display: flex;
            flex-direction: row;
            p{
                font-size: 16px;
                font-weight: 700;
                padding-left: 30%;

            }
            img{
                padding-left: 8%;
                width: 119px;
                height: 90px;
                object-fit: contain;
            }

        }
        span{
            padding-top: 20%;
            padding-left: 8%;
            display: flex;
            flex-direction: row;
            img{
                width: 80px;
                height: 80px;
            }

            p{
                font-size: 70px;
                color: white;
                padding: 0px 5px;
            }

            .rival{
                rotate: 180deg;
            }
        }

        h3{
            color: white;
            padding-left: 8%;
            font-size: 45px;
            width: 150px;
        }

        button{
            background-color: transparent;
            border: 3px solid #c49544;
            width: 150px;
            height: 40px;
            color: #c49544;
            font-weight: 700;
            margin-left: 8%;
            margin-top: 5%;
        }
    }
}
.resultados{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 50px;
    #last-game{
        width: 50%;
        background-color: #242424;
        h2 {
            padding-top: 4%;
            padding-left: 7%;
            color: white;
            font-size: 32px;
            font-weight: 900;
        }
    }
    #next-game{
        width: 50%;
        background-color: white;
        h2{
            color: #181818;
            font-size: 32px;
            font-weight: 900;
            padding-top: 4%;
            padding-left: 7%;
        }
    }
    .data{
        background-color: black;
        width: 9%;
        color: white;
        font-weight: 900;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        margin-left: 7%;
        padding-bottom: 3%;
        span{
            font-size: 36px;
        }
    }
    section{
        display: flex;
        flex-direction: row;
    }

    .content{
        margin-top: 8px;
        margin-left: 1.5%;
        margin-right: 10%;
        p{
            color: #e6e6e6;
            padding-bottom: 5%;
            font-size: 16px;
            font-weight: 900;
            letter-spacing: 1.5px;
        }
        p:last-child{
            padding-bottom: 0;
        }
        
        #competicao{
            color: #e6e6e6;
            font-size: 10px;
            font-weight: 600;
            padding-bottom: 10%;
        }
    }
}


//Santos TV

#santos-tv{
    background-image: url('../../Medias/Santos/fundo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .title{
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        padding-bottom: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 54px;
            font-weight: 900;
            width: 150px;
            text-align: center;
            line-height: 45px;
            margin-right: 5%;
        }
        hr{
            color: #101010;
            width: 60%;
            height: 5px;
            background-color: #101010;
        }
    }

    .carrossel-videos{
        button{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            right: 96%;
        }
        button:last-child{
            right: 1%;
        }
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: hidden;
        margin-bottom: 20px;
        iframe{
            border: 1px solid #c49544;
            border-radius: 10px;
        }
    }

    button{
        background-color: #DDA74C;
        border: none;
        height: 40px;
        width: 150px;
        color: white;
        font-weight: 900;
        margin-left: 45%;
        margin-bottom: 50px;
    }
}

//Lista de icones
#lista-de-icones{
    background-image: url('../../Medias/Santos/fundo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    overflow-x: hidden;
    .icone{
        flex-shrink: 0;
        background-color: white;
        width: fit-content;
        padding: 12px;
        border-radius: 40px;
        margin-left: 2%;
        margin-right: 2%;
        img{
            width: 160px;
            height: 141px;
        }
    }
    button{
        height: 40px;
        width: 40px;
        background-color: #DDA74C;
        border: none;
        color: white;
        font-size: 20px;
        border-radius: 50%;
        position: absolute;
        left: 95%;
    }

    button:first-child{
        left: 3%;
    }
}

//Area do socio rei
#area-socio-rei{
    background-image: url('../../Medias/Santos/fundo4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
    
    a{
        font-size: 25px;
        color: white;
        letter-spacing: 3px;
        margin-top: 10px;
    }
}

//Nosso time 
#nosso-time{
    background-image: url('../../Medias/Santos/fundo5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .titulo{
        padding-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        h2{
            font-size: 54px;
            color: #DDA74C;
            font-weight: 900;
            padding-right: 10%;
        }
        hr{
            width: 360px;
            height: 3px;
            margin-right: 10%;
            color: #DDA74C;
            background-color: #DDA74C;
            border: #DDA74C;
        }
        
        button{
            background-color: #DDA74C;
            border: none;
            color: white;
            width: 250px;
            height: 40px;
            font-weight: 700;
            font-size: 14px;
        }
    }
    
    .jogador{
        display: flex;
        flex-direction: row;
        padding-right: 8%;
        flex-shrink: 0;
        img{
            width: 467px;
            height: 700px;
        }
        
        .dados-jogador{
            span {
                    font-size: 129px;
                    color: white;
                    font-weight: 900;
                    letter-spacing: 0;
                }
            .nome{
                margin-top: -20px;
                letter-spacing: 0;
                color: white;
                font-size: 50px;
                font-weight: 600;
            }
            .posicao{
                font-weight: 600;
                font-size: 30px;
                color: white;
            }
            a{
                font-size: 18px;
                font-weight: 600;
                color: #dda84c;
            }
        }
        
        
    }
    #carrossel-jogadores{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        align-items: center;
        button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                background-color: #DDA74C;
                color: white;
                position: absolute;
                left: 2%;
            }
        button:last-child{
            left: 95%;
        }
    }
    
}

//Santos store
#santos-store{
    background-image: url('../../Medias/Santos/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 8%;
    padding-bottom: 4%;
    justify-content: center;
    align-items: center;
    .esquerda{
        display: flex;
        flex-direction: column;
        padding-right: 10%;
        button{
            background-color: #dda84c;
            border: none;
            width: 150px;
            height: 40px;
            color: white;
            font-weight: 900;
        }
        img{
            width: 410px;
            height: 112px;
            padding-bottom: 5%;
        }
    }

    .direita{
        img{
            width: 570px;
            height: 399px;
        }
    }
}

//footer
footer{
    background-color: #101010;
    width: 100%;
    height: 40px;
}


//RESPONSIVIDADE

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (max-width: 1028px) {
    body {
            overflow-x: hidden;
        }

    #santos-store {
        display: flex;
        flex-direction: column;

        .esquerda {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #area-socio-rei {
        img {
            width: 320px;
            height: 120px;
        }
    }
    nav{
        max-width: 100%;
        background-color: black;
        #santosDoMundo{
            display: none;
        }
        .menuItens{
            display: flex;
            position: absolute;
            width: 100%;
            top: 90px;
            height: 0px;
            visibility: hidden;
        }
        
        .menuItens.active {
            display: flex;
            background-color: white;
            height: auto;
            visibility: visible;
            ul {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 100%;
                margin: 0;

                li {
                    padding: 14px;
                    margin-left: 0;
                    font-size: 10px;
                    font-weight: 700;

                    a {
                        letter-spacing: 1px;
                        padding: 13px 45%; 
                    }
                }

                li:last-child {
                    padding-bottom: 15px;
                }

                li:hover {
                    background-color: grey;
                }

            }

        }
        #btnMobile{
            background-color: transparent;
            color: white;
            display: block;
            font-size: 20px;
            transition: .6s;
            position: absolute;
            left: 95%;
            
        }
        .linguagens{
           position: absolute;
           left: 45%;
        }

        
    }

    header{
        display: none;
    }
    #news{
        padding-top: 90px;
        #carrossel-noticias {
                button {
                    top: 45%;
                }
        
                button:last-child {
                    left: 90%;
                }
            }
    }

    #next-games{

        .sessao1{
            display: flex;
            flex-direction: column;
            h2{
                margin-bottom: 10%;
            }
        }

        .jogo{
            width: 100%;
            margin-left: 0;
        }

        .resultados{
            display: flex;
            flex-direction: column;
            #last-game{
                width: 100%;
            }
            #next-game{
                width: 100%;
            }
        }
    }

    #santos-tv{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        hr{
            display: none;
        }
        .carrossel-videos{
            button{
                right: 90%;
            }
        }

    }

    #lista-de-icones{
        button:last-child{
            left: 90%;
        }
    }

    #nosso-time{
        .titulo {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h2{
                    padding-right: 0;
                }
                hr {
                    display: none;
                }
            }
        #carrossel-jogadores{
            .jogador{
                margin-left: 12%;
                display: flex;
                flex-direction: column;
            }
        }
    }


}

@media only screen and (max-width: 1280px) {
    #santosDoMundo{
        display: none;
    }

    .menuItens{
        font-size: 12px;
    }

}
