@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

body {
  background-color: #1d1d28;
  font-family: "DM Sans", sans-serif;
}

nav {
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.267);
  z-index: 99;
  margin-top: 2.5%;
}
nav img {
  width: 180px;
  margin-left: 3%;
  margin-top: 1%;
}
nav button {
  float: right;
  margin-right: 3%;
  margin-top: 1.5%;
  background-color: #d94132;
  width: 120px;
  border: none;
  height: 30px;
  color: white;
  font-weight: 700;
}
nav button:hover {
  background-color: #bd372b;
  transition: 0.2s;
}

header {
  background-image: url("../../Medias/TheLastOfUs/capa.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  margin-top: -2.5%;
  transform: skewY(-3deg);
  position: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .conteiner {
  padding-top: 7%;
  width: 85%;
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  background-image: linear-gradient(30deg, #0B0C1E, #1D2739);
  margin-top: -5%;
  z-index: 1;
}
main .conteiner .icones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 5%;
}
main .conteiner .icones .icone {
  margin-left: 80px;
}
main .conteiner .icones .icone img {
  width: 150px;
}
main .conteiner .icones .icone p {
  font-size: 20px;
}
main .conteiner .icones .icone span {
  color: #d94132;
}
main .conteiner .icones .icone:first-child {
  margin-left: 0px;
}
main .conteiner .novidades {
  background-color: #0E100D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
main .conteiner .novidades hr {
  width: 8%;
  height: 3px;
  background-color: white;
}
main .conteiner .novidades h2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
}
main .games {
  margin-top: 0%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #0E100D;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .games .gameShop {
  width: 280px;
  height: 390px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .games .gameShop button {
  background-color: transparent;
  border: none;
  color: #eb5649;
  font-size: 26px;
  display: none;
  border: 2px solid #eb5649;
  border-radius: 10px;
}
main .games .gameShop button:hover {
  transform: scale(1.2);
  transition: 0.2;
}
main .games .img:first-child {
  margin-left: 0;
}
main .games .gameShop:hover {
  opacity: 0.35;
}
main .games .gameShop:hover button {
  display: block;
  opacity: none;
}
main .carrosselImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #121527;
}
main .carrosselImg button {
  width: 40px;
  height: 40px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: transparent;
}
main .carrosselImg button:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
main .carrosselImg .imagemEscondida1 {
  opacity: 0.25;
  margin-left: 9%;
  margin-right: 3%;
}
main .carrosselImg .imagemEscondida1 img {
  width: 240px;
  height: 300px;
  background-color: white;
}
main .carrosselImg .imagemEscondida1 p {
  font-size: 12px;
}
main .carrosselImg .imagemEscondida2 {
  opacity: 0.25;
  margin-right: 9%;
  margin-left: 3%;
}
main .carrosselImg .imagemEscondida2 img {
  width: 240px;
  height: 300px;
  background-color: white;
}
main .carrosselImg .imagemEscondida2 p {
  font-size: 12px;
}
main .carrosselImg .ImagemPrincipal img {
  width: 298px;
  height: 361px;
}
main .carrosselImg .ImagemPrincipal p {
  font-size: 16px;
}

footer {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer p {
  color: white;
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
}
footer i {
  color: #d94132;
  margin-left: 20px;
}/*# sourceMappingURL=theLasOfUs.css.map */